# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# macOS
.DS_Store
__MACOSX/

# Environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log

# Build artifacts
dist/
build/